* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
li,
dt,
dd,
dl {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

input[type=number]::-webkit-textfield-decoration-container {
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input:disabled {
    color: #626262;
    -webkit-text-fill-color: #626262;
    -webkit-opacity: 1;
}

input.Default:disabled {
    color: #999;
    -webkit-text-fill-color: #999;
    -webkit-opacity: 1;
}

textarea {
    resize: none;
    font-size: 14px;
    outline: none;
}

button:disabled {
    opacity: .6;
}

button .weui-loading{
    display: none;
}

button:disabled .weui-loading{
    display: inline-block;
}

.ellipsis_row_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis_row_2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


