@import './base.scss';
@import './function.scss';



/********************************页面部分********************************/
.page-index{
    .title{
        background-color: $themeColor;
        color: #fff;
        font-size: pxToRem(16px);
        text-align: center;
        line-height: 45px;
    }
}
